<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clock.view">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicCustomActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.CustomViewGroupActivity" />
        <activity android:name=".activity.SimpleTextViewActivity" />
        <activity
            android:name=".activity.CanvasActivity"
            android:label="Canvas" />
        <activity
            android:name=".activity.PorterDuffXfermodeActivity"
            android:label="PorterDuffXfermode" />
        <activity
            android:name=".activity.ShaderActivity"
            android:label="Shader" />
        <activity
            android:name=".activity.ScratchDemoActivity"
            android:label="ScratchDemoActivity" />
        <activity
            android:name=".activity.PathActivity"
            android:label="PathDemo" />
    </application>

</manifest>